@using Microsoft.AspNetCore.Identity
@using IdentityServerSystem.Models
@using IdentityServer4.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*@if (SignInManager.IsSignedIn(Context.User))*@
@if(Context.User != null && !String.IsNullOrWhiteSpace(Context.User.GetDisplayName()))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @Context.User.GetDisplayName()!</a>
            </li>
            <li>
                @*<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>*@
                <a asp-action="Logout" asp-controller="Account">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@*<a asp-area="" asp-controller="Account" asp-action="Register">注册</a>*@</li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">登陆</a></li>
    </ul>
}
