@model IdentityServerSystem.Models.ManageClientViewModels.ResetClientSecretViewModel
@{
    ViewData["Title"] = "ResetClientSecret";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset class="col-md-12 panel panel-default">
    <legend>重置Client密码</legend>
    <form asp-action="ResetClientSecret" asp-controller="ManageClients">
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input hidden="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="ClientId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ClientId" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClientName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ClientName" class="form-control" />
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group clientSecrets">
                <label asp-for="ClientSecrets" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="input-group">
                        <input name="ClientSecrets"  class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick='deleteTargetElement($(this), ".clientSecrets")'><span class="glyphicon glyphicon-trash"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>


            <div class="form-group" id="add-secret">
                <div class="col-md-offset-4">
                    <button class="btn btn-default" type="button" onclick='addCloneElementToTargetElementID($(this), ".clientSecrets", "#add-secret")'><span class="glyphicon glyphicon-plus"></span>添加ClientSecrets</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5">
                    <input type="submit" value="重置密码" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index">返回列表</a>
    </div>
</fieldset>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}